/*  CSS restart http://meyerweb.com/eric/tools/css/reset/ s vlastní úpravou  */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/*  HTML5 display-role reset for older browsers  */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 500;
	margin: 0;
    padding: 0;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
* {
	box-sizing: border-box;
}

/*  část header  */
header {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	background: #f2f2f2;
	min-width: 350px;
}
header a:hover {
	color: #636363;
}
nav{
	width: 100%;
	display: flex;
	margin: 0 auto;
	max-width: 1447px;
}
.logo img{
	margin: 20px 50px;
}
.checkbtn{
	font-size: 30px;
	color: black;
	line-height: 65px;
	display: none;
}
#check{
	display: none;
}
nav ul{
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}
nav ul li{
	display: inline-block;
	margin-right: 20px;
}
nav ul li a{
	color: black;
	font-size: 14px;
	text-decoration: none; 
}
.langSwitch {
	border: none;
    background: none;
    padding: 0;
    margin: 0;
	font-size: 16px;
	margin: 15px;
	margin-top: 16px;
	margin-left: auto;
}
.searchIcon {
	background-color: black;
	border-color: black;
	border-radius: 25px;
	width: 35px;
	height: 35px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: auto 15px;
}
.searchIcon:hover {
	background-color: #e45c5e;
}
.searchIcon i{
	font-size: 18px;
	color: white;
}
.socials {
	display: flex;
	align-items: center;
	justify-content: center;
	border-left: 1px solid #ebebeb;
	padding: 0 20px;
}
.socials i {
	color: #b3b3b3;
	font-size: 25px;
	margin: auto 15px;
}

/*  hlavní část  */
.main {
	display: flex;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
	width: 1447px;
	min-width: 350px;
}

/*  část s kolotočem  */
.imageContainer {
    width: 100%;
    height: 100%;
    display: flex;
	justify-content: center;
    position: relative;
	width: 1071px;
	min-width: 350px;
}

/*  část dlaždic s nadpisem   */
.windows-container {
    width: 240px;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}
.window {
    width: 240px;
    height: 170px;
    background-color: transparent;
    border: 3px solid transparent;
	letter-spacing: 0.3px;
	position: relative;
	display: flex;
	flex-direction: column;
	border: none;
}
.activeWindow {
	background-color: #e45c5e;
	color: white;
}
.category {
	font-size: 10px;
	color: #b1b1b1;
}
.activeCategory {
	font-size: 10px;
	color: white;
}
.articleName {
	font-size: 16px;
	margin-top: 10px;
	margin-right: 60px;
	padding: 10px;
	padding-bottom: 0px;
}
.activeArticleName {
	font-weight: 900;
}
.readMore {
	font-size: 10px;
	display: block;
	margin-top: auto;
	margin-bottom: 3px;
	color: white;
	opacity: 0.7;
}
.category,
.activeCategory,
.readMore {
	padding: 10px;
}

/*  animace progress baru  */
.progressBar {
    height: 5px;
    background-color: black;
    animation: progressBarAnimation 5s linear;
}
@keyframes progressBarAnimation {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

/*  část s fotografiema  */
.image {
    width: 765px;
    height: 510px;
    display: none;
	position: relative;
	min-width: 350px;
}
img {
	max-width: 100%;
	height: auto;
}
.img {
	filter: brightness(0.9);
}
.articleText {
	color: white;
	width: 280px;
	letter-spacing: 0.3px;
	font-size: 16px;
	line-height: 20px;
	bottom: 50px;
}
.articleReadMore {
	bottom: 25px;
	font-size: 12px;
	color: #e45c5e;
}
.articleText,
.articleReadMore {
	position: absolute;
	left: 20px;
}
.articlePosition,
.nextButton,
.prevButton {
	display: none;
}
.activeImage {
    display: block;
	position: relative;
}

/*  část s názvem UDÁLOSTI */
.eventContainer {
	padding-left: 25px;
	border-left: 1px solid #ebebeb;
	width: 300px;
	margin-right: 58px;
}
h3 {
	font-size: 14px;
	display: block;
	border-bottom: 1px solid black;
	font-weight: 900;
	padding-bottom: 30PX;
}
.oneEvent {
	border-bottom: 1px solid #ebebeb;
	padding: 20px 0;
}
.eventDate {
	color: #e45c5e;
}
h4 {
	font-weight: 900;
	padding-top: 5px;
}
.eventPlace {
	padding-top: 10px;
	font-size: 12px;
	color: #929292;
}
.moreEvents {
	font-size: 12px;
	color: #e45c5e;
	display: block;
	margin-top: 20px;
}

/*  Responzivita  */
@media (max-width: 1450px) {
	.main {
		width: 100vw ;
		padding: 0;
		align-items: center;
		justify-content: center;
	}
	.socials,
	.eventContainer {
		display: none;
	}
}
@media (max-width: 1200px) {
	.checkbtn{
		position: fixed;
    	display: block;
		z-index: 2;
		right: 24px;
		margin-top: 10px;
  	}
  	ul{
    	position: fixed;
    	width: 100%;
    	height: 100vh;
		padding-bottom: 50px;
    	background: white;
    	left: -100%;
    	z-index: 1;
    	display: flex;
    	flex-direction: column;
    	align-items: center;
    	justify-content: space-around;
    	transition: all .5s;
  	}
  	nav ul li{
   		display: block;
  	}
  	nav ul li a{
    	font-size: 34px;
  	}
  	#check:checked ~ ul{
    	left: 0;
  	}
	.langSwitch,
	.socials {
		display: none;
	}
	.searchIcon {
		margin-left: auto;
		margin-right: 80px;
	}
}
@media (max-width: 1006px) {
	.main {
		display: flex;
		margin-left: auto;
		margin-right: auto;
		width: 100vw;
	}
	.imageContainer {
		display: flex;
		flex-direction: column-reverse;
		margin-left: auto;
		margin-right: auto;
	}
	.windows-container {
		width: 765px; 
		flex-direction: row;
		overflow-x: auto;
		justify-content: flex-start;
		margin-left: auto;
		margin-right: auto;
	}
	.image {
		
		height: auto;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: -2px;
	}
	.window {
		height: 130px;
		margin-left: 0px;
		min-width: 255px;
	}
	.articleName {
		margin-top: -10px;
	}
}
@media (max-width: 765px) {
	.main {
		margin-top: 0px;
	}
	.windows-container {
		width: 100vw;
	}
	.image {
		width: 100vw;
	}
}
@media (max-width: 500px) {
	.main {
		min-width: 350px;
	}
	.windows-container {
		min-width: 350px;
	}
	.articleText,
	.articleReadMore {
		display: none;
	}
	.articlePosition {
		color: white;
		position: absolute;
		bottom: 25px;
		right: 20px;
		display: block;
	}
	.nextButton {
		right: 10px;
		transform: rotate(270deg);

	}
	.prevButton {
		left: 10px;
		transform: rotate(90deg);
	}
	.nextButton,
	.prevButton {
		display: block;
		position: absolute;
		top: 43%;
		background: none;
		border: none;
		width: 60px;
		height: auto;
	}
}
@media (max-width: 400px) {
	.logo img{
		margin: 20px;
	}
	.searchIcon {
		margin-right: 70px;
	}
}